@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --hd-ft-total: 104px;
  @apply dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  body {
    @apply dark
  }
}

body {
  color: rgb(var(--foreground-rgb));
  @apply dark;
}

/* override active like behavior on disbled item in dropdown menu */
.disabled-dropdown {
  background-color: rgb(55,65,81)!important;
  color: rgb(24,24,27)!important;
  cursor: default!important;
}
.disabled-dropdown:hover {
  background-color: rgb(55,65,81)!important;
  color: rgb(24,24,27)!important;
  cursor: default!important;
}

/* provide link styling to copyright element */
.custom-copyright > span {
  @apply ml-1 hover:underline;
}

/* edit spinner class to make them periods */
.spinner-period {
  vertical-align: baseline;
  color: white!important;
  padding-left: .2rem;
}

/* create an element class to make footer always be at bottom of page or below */
.footer-v-spacer {
  min-height: calc(100vh - var(--hd-ft-total));}

.carousel-container{
  position: absolute;
  height: calc(100vh - var(--hd-ft-total));
  width: 100vw;
}