@tailwind base;
@tailwind components;
@tailwind utilities;

/* override active like behavior on disbled item in dropdown menu */
.disabled-dropdown {
  background-color: rgb(55,65,81)!important;
  color: rgb(24,24,27)!important;
  cursor: default!important;
}
.disabled-dropdown:hover {
  background-color: rgb(55,65,81)!important;
  color: rgb(24,24,27)!important;
  cursor: default!important;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
